<div class="todos">
  <p>Angular - Todos Component works!</p>

  <h2>My Todo List</h2>
  <ul>
    <li *ngFor="let todo of todos; let i = index">
      <span class="badge">Task {{i}} : {{ todo }}</span>
      
        <button (click)="deleteTodo(todo)">Delete</button>
        <button (click)="updateTodo(i,newtodo)">Update</button>
        <input  type="text" [(ngModel)]="newtodo" />
    </li>
  </ul>

  <label for="todo">Add new task: </label>
  <input  type="text" [(ngModel)]="todo" placeholder="todo"/>
  <button (click)="addTodo(todo)">Add</button>

</div>

